{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} {% endblock title %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col md-12">
      <div class="bg-light pt-1 px-3">
        <h2>Manage <b>Student</b>
          <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#mymodal">Add New Student</button>
          <a href="/sorted" class="btn btn-outline-info float-end mx-2">Sort by Marks</a>
          <button type="button" class="btn btn-outline-danger float-end mx-1" data-bs-toggle="modal" data-bs-target="#searchmodal">Search</button>
          <a href="/" class="btn btn-dark float-end mx-1">Home</a>
          <!-- Search Modal -->
          <div id="searchmodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Search Student Data</h4>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('search')}}" method="POST">
                    <div class="form-group">
                      <input type="text" class="form-control" name="name" placeholder="Enter name, ignore case...." required="1" maxlength="40" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary mt-3 mb-2" type="submit">Search</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </h2>
        
        {% with messages = get_flashed_messages() %} 
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <table class="table table-hover table-striped align-middle">
          <tr class="text-center">
            <th>Roll</th>
            <th>Name</th>
            <th>Marks in Maths</th>
            <th>Marks in Physics</th>
            <th>Marks in Chemistry</th>
            <th>Total Marks</th>
            <th>Percentage</th>
            <th>Action</th>
          </tr>
          {% for student in students %}
          <tr class="text-center">
            <td>{{student.roll_no}}</td>
            <td>{{student.name}}</td>
            <td>{{student.marks_in_maths}}</td>
            <td>{{student.marks_in_physics}}</td>
            <td>{{student.marks_in_chemistry}}</td>
            <td>{{student.total_marks}}</td>
            <td>{{student.marks_percentage}}</td>
            <td>
              <a href="/update/{{student.roll_no}}" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modaledit{{student.roll_no}}">Edit</a>
              <a href="/delete/{{student.roll_no}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete ?')">Delete</a>
            </td>
          </tr>
          <!-- Modal Edit Student -->
          <div id="modaledit{{student.roll_no}}" class="modal fade" role="dialog">
            <div class="modal-dialog">                    
               <div class="modal-content">                    
                  <div class="modal-header">                    
                     <h4 class="modal-title">Update Student Details</h4>                    
                  </div>                    
                  <div class="modal-body">                    
                     <form action="{{url_for('update', id = student.roll_no)}}" method="POST">                    
                      <div class="form-group">
                        <label>Roll:</label>
                        <input type="text" class="form-control" name="roll" required="1" disabled value="{{student.roll_no}}">
                      </div>
                      <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" required="1" value="{{student.name}}" maxlength="40" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)">
                      </div>
                      <div>
                        <div class="form-group mt-1">
                        <label>Marks in Maths:</label>
                        <input type="number" class="form-control" name="marks_in_maths" required="1" value="{{student.marks_in_maths}}" min=0 max=100>
                      </div>
                      <div>
                        <div class="form-group mt-1">
                        <label>Marks in Physics:</label>
                        <input type="number" class="form-control" name="marks_in_physics" required="1" value="{{student.marks_in_physics}}" min=0 max=100>
                      </div>
                      <div>
                        <div class="form-group mt-1">
                        <label>Marks in Chemistry:</label>
                        <input type="number" class="form-control" name="marks_in_chemistry" required="1" value="{{student.marks_in_chemistry}}" min=0 max=100>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary mt-3 mb-2" type="submit">Update</button>
                      </div>        
                     </form>                    
                  </div>                    
                  <div class="modal-footer">                    
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>                    
                  </div>                    
               </div>          
            </div>          
         </div>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add Student -->
<div id="mymodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter Student Data</h4>
      </div>
      <div class="modal-body">
        <form action="{{url_for('insert')}}" method="POST">
          <div class="form-group">
            <label>Roll:</label>
            <input type="number" class="form-control" name="roll" required="1" min=1 max=1000000>
          </div>
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="name" required="1" maxlength="40" onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode == 32)">
          </div>
          <div>
            <div class="form-group mt-1">
            <label>Marks in Maths:</label>
            <input type="number" class="form-control" name="marks_in_maths" required="1" min=0 max=100>
          </div>
          <div>
            <div class="form-group mt-1">
            <label>Marks in Physics:</label>
            <input type="number" class="form-control" name="marks_in_physics" required="1" min=0 max=100>
          </div>
          <div>
            <div class="form-group mt-1">
            <label>Marks in Chemistry:</label>
            <input type="number" class="form-control" name="marks_in_chemistry" required="1" min=0 max=100>
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-3 mb-2" type="submit">Add Student</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}